body {
  background: black;
    background-size: 100%;
    color: white;
    margin: 0px;
}
body:hover {
  
}

.menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu > ul > li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: white;
    color:black;
}

.menu ul li a img {
    width: 20px;
    height: 15px;
}

.active {
    background-color: #04AA6D;
}

.title h1 {
    background: #04AA6D;
    text-align: center;
    border-style: solid;
    border-color: #04AA6D;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
}

.infoText {
  font-size: 20px;
  
}

.infoText > p {
  padding: 20px 20px;
  border-style: solid;
  border-radius: 20px;
}


.info {
  display: grid;
  grid-template-columns: 20% 80%;
  border-style: solid;
}

.info div {
  border-style: solid;
  border-color: white;
  height: 70vh;
}

.info > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.info ul li {
    float: left;
}
.info ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
}

.info ul li a:hover {
    background: white;
    color: black;
}

.info1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.image {
    width: 600px;
}
  a{
    display: block;
    width: 100px;
    height: 35px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #dfdfdf8c;
    transition: all .35s;
  }
  
  a:hover{
    color: #fff;
  }
  
  a:hover:after{
    width: 100%;
  }
  div.wrapper{
    background-image: url(test/2048.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 210px;    
  }

        }
        .footer {
           position: fixed;
           left: 0;
           bottom: 0px;
           width: 100%;
           background-color: rgba(107, 96, 96, 0.822);
           color: white;
           text-align: center;
           font-family: 'Brush Script MT', cursive;
           
        }

.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.container div {
  border-style: solid;
  height: 100vh;
  font-size: 30px;
}

.img1 {
  background: url('./photos/body/1-dec-pdp-1-computer-volker-steger.jpg') no-repeat;
  max-width: 100%;
}
.img2 {
  background: url('./photos/body/blizzard.png') no-repeat;
  max-width: 100%;
}
.img3 {
  background: url('./photos/body/webgame.jpg') no-repeat;
  max-width: 100%;
}
