body {
    background: black;
    color: white;
    margin: 0px;
}

.menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu > ul > li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: white;
    color:black;
}

.menu ul li a img {
    width: 20px;
    height: 15px;
}

.active {
    background-color: #04AA6D;
}

.title h1 {
    background: #04AA6D;
    text-align: center;
    border-style: solid;
    border-color: #04AA6D;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
}

.info {
    display: flex;
    justify-content: space-around;

    font-size: 30px;
    border-color: rgb(255, 255, 255);
    height: 750px;
    width: 100%;
}

.image {
    width: 600px;
}